@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
  max-width: 400px;
  max-height: 600px;
  min-height: 600px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}
